O XML-RPC é um recurso do WordPress que permite que dados sejam transmitidos, com HTTP agindo como mecanismo de transporte e XML como mecanismo de codificação. 
Como o WordPress não é um sistema “fechado” e, ocasionalmente, precisa se comunicar com outros sistemas, esse sistema foi feito para lidar com esse trabalho.

Os problemas não estão diretamente com o XML-RPC, mas com o arquivo que pode ser usado para ativar um ataque no seu site.
Para garantir que seu site permaneça seguro, desabilite o xmlrpc.php por completo, colocando o código no seu .htaccess.

XML-RPC is a WordPress feature that allows data to be transmitted, with HTTP acting as the transport mechanism and XML as the encoding mechanism. As WordPress is 
not a “closed” system and, occasionally, needs to communicate with other systems, this system was made to handle this work.

The problems are not directly with XML-RPC, but with the file that can be used to activate an attack on your website.
To ensure that your site remains secure, disable xmlrpc.php entirely by placing the code in your .htaccess.

# BLOQUEAR ATAQUES DE XML-RPC #
# BLOCK XML-RPC ATTACKS #
<files xmlrpc.php>
Order deny,allow
Deny from all
</files>
